%h1= 'Feed of the 10 last calls emitted or received'
-# pagination to prevend loading the entire db and timeouting
- if @calls.empty?
  %p= 'No calls to display yet, try to make one to +33186766957'
- else
  %ul
    - @calls.each do |call|
      %li
        = render partial: call